.twc-panel__header
  .twc-panel__title Clipping
  .twc-panel__close(twc-panel-close)
.twc-clipping.twc-panel__main
  form.twc-form(name="cardForm")
    label Board
    select(
      name="board"
      ng-model="clipping.card.board"
      ng-options="item.name for item in clipping.boards track by item.id"
    )

    label List
    select(
      name="list"
      ng-model="clipping.card.list"
      ng-options="item.name for item in clipping.lists track by item.id"
    )

    label Title
    input(
      type="text"
      name="name"
      ng-model="clipping.card.name"
    )

    label Description
    textarea(
      name="desc"
      ng-model="clipping.card.desc"
    )

    button.twc-button.twc-button--primary.twc-button--wide(
      ng-click="clipping.add(clipping.card)"
    ) Create Card
